<% layout('../layout/boilerplate') -%>

<div class="row">

    <div class="alert alert-danger col- offset" role="alert">
      <div class="alert-heading"><h4><%=message%></h4></div>
    </div>
</div>
  